In [15]:
import pandas as pd
crime_data = pd.read_csv('Crime_Dataset.csv')
crime_data

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,Longitude,Latitude
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541
...,...,...,...,...,...,...,...,...,...
680821,2003-01-06 00:15:00,ROBBERY,ROBBERY ON THE STREET WITH A GUN,Monday,TARAVAL,NONE,FARALLONES ST / CAPITOL AV,-122.459033,37.714056
680822,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,INGLESIDE,NONE,600 Block of EDNA ST,-122.447364,37.731948
680823,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,SOUTHERN,NONE,5TH ST / FOLSOM ST,-122.403390,37.780266
680824,2003-01-06 00:01:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Monday,SOUTHERN,NONE,TOWNSEND ST / 2ND ST,-122.390531,37.780607
680825,2003-01-06 00:01:00,FORGERY/COUNTERFEITING,"CHECKS, FORGERY (FELONY)",Monday,BAYVIEW,NONE,1800 Block of NEWCOMB AV,-122.394926,37.738212

In [12]:
print(crime_data.info())
print(crime_data.isnull().sum())
print(crime_data.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 680826 entries, 0 to 680825
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Dates       680826 non-null  object
 1   Category    680826 non-null  object
 2   Descript    680826 non-null  object
 3   DayOfWeek   680826 non-null  object
 4   PdDistrict  680826 non-null  object
 5   Resolution  680826 non-null  object
 6   Address     680826 non-null  object
 7   Longitude   680826 non-null  float64
 8   Latitude    680826 non-null  float64
dtypes: float64(2), object(7)
memory usage: 46.7+ MB
None
Dates         0
Category      0
Descript      0
DayOfWeek     0
PdDistrict    0
Resolution    0
Address       0
Longitude     0
Latitude      0
dtype: int64
11084

In [13]:
crime_data.drop_duplicates(inplace=True)

In [ ]:
# Correct the order of Longitude and Latitude
# no need to run this again. 
# crime_data.rename(columns={'Latitude (Y)': 'Longitude', 'Longitude (X)': 'Latitude'}, inplace=True)
# crime_data.to_csv('Crime_Dataset.csv', index=False)

In [ ]:
#save the first 600 rows to a new CSV file to give them to chatGPT
df=crime_data.head(600)
df.to_csv('Crime_Dataset_600.csv', index=False)

In [14]:
crime_data['Category'].value_counts()

Category
LARCENY/THEFT             156764
OTHER OFFENSES            110678
NON-CRIMINAL               82880
VEHICLE THEFT              48274
VANDALISM                  39838
WARRANTS                   37951
DRUG/NARCOTIC              35487
BURGLARY                   32955
SUSPICIOUS OCC             28107
MISSING PERSON             23074
ROBBERY                    20689
FRAUD                      15006
FORGERY/COUNTERFEITING      8790
WEAPON LAWS                 6884
TRESPASS                    6580
DISORDERLY CONDUCT          3893
RECOVERED VEHICLE           2819
KIDNAPPING                  2092
STOLEN PROPERTY             2006
RUNAWAY                     1703
ARSON                       1390
EMBEZZLEMENT                1032
BAD CHECKS                   365
BRIBERY                      258
EXTORTION                    227
Name: count, dtype: int64